{% extends 'layouts/index.html' %}

{% block content %}
    <style>
        .posts {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            padding: 10px;
            flex-wrap: wrap;
        }
    </style>
    <div class="posts">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    {% for hashtag in post.hashtags.all %}
                        <p>{{ hashtag.title }}</p>
                    {% endfor %}
                    <a href="/products/{{ post.id }}/" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}